{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="page-title">Inbox</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Inbox</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <p>This is a placeholder inbox page. Connect to your messaging/notification data as needed.</p>
      </div>
    </div>

  </div>
</div>

<footer>
  <p>Copyright © Smart School {{year}}</p>
</footer>

<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

{% endblock %}
